.player-wrapper {
    position: relative;
    margin: auto;
    padding: auto;
  }
   
  .react-player {
    position: relative;
    margin: auto;
    padding: auto;
    width: 100%;
    height: 100%;
  }