* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
  }
  
  :root {
    --primary: #2A7AE4;
    --black: #000000;
    --blackLighter: #9E9E9E;
    --grayLight: #F5F5F5;
    --grayMedium: #e5e5e5; 
    --white: #FFFFFF;
    --frontEnd: #6BD1FF;
    --backEnd: #00C86F;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: inherit;
  } 


  ::-webkit-scrollbar{
    overflow: auto;
    display: flex;
    width: 0.2em;
  }
  ::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: var(--black);
    -webkit-box-shadow: var(--blackLighter);
  }
  ::-webkit-scrollbar-thumb{
    background-image: linear-gradient(var(--primary),var(--blackLighter));
    border-radius: 10px;
    outline: 1px solid slategrey;
  }
  ::-webkit-scrollbar-thumb:hover{
    background-image: linear-gradient(var(--primary), var(black));
    outline: 1px solid slategrey;
  }
  ::-webkit-scrollbar-track-piece{
    border-radius: 10px;
  }

  #root {
    min-height: calc(100vh - var(--bodyPaddingTop));
    display: flex;
    flex-direction: column;
  } 